<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Tailspin.SpaceGame.Web.Models" value="https://edwinazure.pkgs.visualstudio.com/6196e08b-5461-4e56-8d99-49b691d77353/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
    </packageSources>
</configuration>